@model QLKS.Models.LoaiPhong

@{
    ViewBag.Title = "ChiTietLP";
    Layout = "~/Views/Admin/QuanLyLayout.cshtml";
}

<h2>Chi Tiết Loại Phòng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLP }) |
    @Html.ActionLink("Trở Về", "Loaiphong")
</p>
